@import url(variables.css);


*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
    background-image:  linear-gradient(30deg, #80A0FF 12%, transparent 12.5%, transparent 87%, #80A0FF 87.5%, #80A0FF), linear-gradient(150deg, #80A0FF 12%, transparent 12.5%, transparent 87%, #80A0FF 87.5%, #80A0FF), linear-gradient(30deg, #80A0FF 12%, transparent 12.5%, transparent 87%, #80A0FF 87.5%, #80A0FF), linear-gradient(150deg, #80A0FF 12%, transparent 12.5%, transparent 87%, #80A0FF 87.5%, #80A0FF), linear-gradient(60deg, rgba(128,160,255,0.5) 25%, transparent 25.5%, transparent 75%, rgba(128,160,255,0.5) 75%, rgba(128,160,255,0.5)), linear-gradient(60deg, rgba(128,160,255,0.5) 25%, transparent 25.5%, transparent 75%, rgba(128,160,255,0.5) 75%, rgba(128,160,255,0.5));
    background-size: 200px 350px;
    background-position: 0 0, 0 0, 100px 175px, 100px 175px, 0 0, 100px 175px;
    background-color: #04003B;
   
  }
  html {
    scroll-behavior: smooth;
  }

  .textcontainer{
    background: linear-gradient(170deg, #04003bf5 30%,#0f3c9eea 70%, #80a0fff6 100%);
    
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    
    border-bottom: 10px double #04003B;

      h1{
        
        margin-top: 5vw;
        width: 100%;
        height: 10vh;
        
        text-align: center;
        text-wrap: nowrap;
        font-size: 5vw;
        font-family: Arial, Helvetica, sans-serif;
      }
      h2{
        width: 100%;
        height: 10vh;
        
        text-align: center;
        text-wrap: nowrap;
        font-size: 5vw;
        font-family: Arial, Helvetica, sans-serif;
      }
      p{
        width: 100%;
        height: 100vh;
        
        text-align: center;
        
        font-size: 5vw;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  .view {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .block {

    margin: 50px;
    border: 0.5mm solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-repeat: no-repeat;
  }
  .block:nth-child(1) {
    background-image: url(../storage/img/1.png);
    background-size: contain;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(2) {
    background-image: url(../storage/img/2.png);
    background-size: contain;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(3) {
    background-image: url(../storage/img/3.png);
    background-size:contain;
    width: 33vw;
    height: 29.5vw;
  }
  .block:nth-child(4) {
    background-image: url(../storage/img/4.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(5) {
    background-image: url(../storage/img/5.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(6) {
    background-image: url(../storage/img/6.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(7) {
    background-image: url(../storage/img/7.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(8) {
    background-image: url(../storage/img/8.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(9) {
    background-image: url(../storage/img/9.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(10) {
    background-image: url(../storage/img/10.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(11) {
    background-image: url(../storage/img/11.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(12) {
    background-image: url(../storage/img/12.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(13) {
    background-image: url(../storage/img/13.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(14) {
    background-image: url(../storage/img/14.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(15) {
    background-image: url(../storage/img/15.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(16) {
    background-image: url(../storage/img/16.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(17) {
    background-image: url(../storage/img/17.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(18) {
    background-image: url(../storage/img/18.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(19) {
    background-image: url(../storage/img/19.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(20) {
    background-image: url(../storage/img/20.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(21) {
    background-image: url(../storage/img/21.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(22) {
    background-image: url(../storage/img/22.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(23) {
    background-image: url(../storage/img/23.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(24) {
    background-image: url(../storage/img/24.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(25) {
    background-image: url(../storage/img/25.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(26) {
    background-image: url(../storage/img/26.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(27) {
    background-image: url(../storage/img/27.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(28) {
    background-image: url(../storage/img/28.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(29) {
    background-image: url(../storage/img/29.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(30) {
    background-image: url(../storage/img/30.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(31) {
    background-image: url(../storage/img/31.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(32) {
    background-image: url(../storage/img/32.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(33) {
    background-image: url(../storage/img/33.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(34) {
    background-image: url(../storage/img/34.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(35) {
    background-image: url(../storage/img/35.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(36) {
    background-image: url(../storage/img/36.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(37) {
    background-image: url(../storage/img/37.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(38) {
    background-image: url(../storage/img/38.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(39) {
    background-image: url(../storage/img/39.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(40) {
    background-image: url(../storage/img/40.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(41) {
    background-image: url(../storage/img/41.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(42) {
    background-image: url(../storage/img/42.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(43) {
    background-image: url(../storage/img/43.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(44) {
    background-image: url(../storage/img/44.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  .block:nth-child(45) {
    background-image: url(../storage/img/45.png);
    background-size: cover;
    width: 33vw;
    height: 26vw;
  }
  
  @keyframes appear {
    from {
      opacity: 0;
      clip-path: inset(100% 100% 0 0);
    }
    to {
      opacity: 1;
      clip-path: inset(0 0 0 0);
    }
  }

  .block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }