:root{ 
    --color-1: white;
    
 }

 @font-face {
    font-family: "ZillaSlab-Bold.ttf";
    src: url(../font/ZillaSlab-Bold.ttf);
 }


 @font-face {
   font-family: "Inter_24pt-Regular.ttf";
   src: url(../font/Inter_24pt-Regular.ttf);
}



@font-face {
   font-family: "Inter_28pt-LightItalic.ttf";
   src: url(../font/Inter_28pt-LightItalic.ttf);
}
