@import url(variables.css);



*{
    margin: 0;
    padding: 0;
    
}

*::before, *::after{box-sizing: border-box;}
body{min-height: 100dvh;}
input, button, textarea, select{font: inherit;}
p{text-wrap: pretty;}
h1, h2, h3, h4, h5, h6{text-wrap: balance;}
img, video, svg{height: auto; max-width: 100%;}

@media (prefers-reduced-motion: reduce){
*, *::before, *::after{
animation-duration: 0.01ms !important;
animation-iteration-count: 1 !important;
max-width: 100%;
transition-duration: 0.01ms !important;
scroll-behavior: auto !important;
transition: none;
}
}

.container{
    width: 1440px;
    height: 999px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    }
    
.section{
    top: 67px;
    position: absolute;
    left: 0;
    
    img{
        width: 716px;
        height: 932px;
    }
}

.section1{
    left: 716px;
    top: 2px;
    width: 724px;
    height: 997px;
    padding: 80px 112px 80px 112px; /*arriba derecha abajo izquierda*/
    position: absolute;

    h1{
        font-family: "AvenirLTStd-Heavy.otf" ;
        width: 500px;
        height: 153px;
        text-align: justify;
        font-size: 64px;
        line-height: auto;
        color: #252525;
        padding-bottom: 32px;
        word-spacing: -155px;
        
    }

    .p1{
        font-family: "AvenirLTStd-Roman.otf";
        width: 500px;
        height: 144px;
        text-align: left;
        font-size: 26px;
        color: rgba(37, 37, 37, 0.8);
        padding-bottom: 32px;
        
    }
    
    button{
        cursor: pointer;
        top: 361px;
        width: 158px;
        height: 54px; 
        gap: 10px;
        padding: 18px 48px 18px 48px;
        font-family: "AvenirLTStd-Roman.otf";
        font-size: 18px;
        line-height: 18px;
        border-radius: 16px;
        background-color: #252525;
        color: #ffffff;
        
    }
}

.div1{
    top: 88px;
    position: relative;

    span{
        font-family: "AvenirLTStd-Heavy.otf";
        font-size: 32px;
        color: rgba(37, 37, 37, 0.55);
    }
    
    .p2{
        padding-top: 4px;
        padding-bottom: 40px;
        width: 500px;
        font-family: "AvenirLTStd-Roman.otf";
        font-size: 24px;
        color: rgba(37, 37, 37, 0.8);
}

}

