<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="storage/style/style.css">

    <title>41</title>
</head>
<body>
    <main class="container">
        <section>
            <article class="flexcolum">
                <div>

                    <h1>
                        We build your dream house with our passion
                    </h1>
                    
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus imperdiet sed id elementum. Quam vel aliquam sit vulputate. Faucibus nec gravida ipsum pulvinar vel.
                    </p>
                    
                    <button>
                        Get started
                    </button>
                </div>
                    
                <div>
                    
                    <div class="box1">
                        <h2>
                            178K+
                        </h2>

                        <p>Lorem ipsum dolor amet, consectetur adipiscing elit. Faucibus in libero.Lorem ipsum dolor amet,</p>
                    </div>

                    <!-- ---- -->
                    <div class="box2">
                        <h2>362</h2>
                        <p>Lorem ipsum dolor amet, consectetur adipiscing elit. Faucibus in libero.Lorem ipsum dolor amet,</p>
                        
                    </div>
                    <!-- ---- -->
                    
                    <div class="box3">
                        <div>
                            <h2>Title</h2>
                            <p>Lorem ipsum dolor amet, consectetur adipiscing elit. Faucibus in libero.Lorem ipsum dolor amet. Lorem ipsum dolor amet, consectetur adipiscing elit.</p>
                        </div>
                    
                        <img src="storage/img/unsplash_mR1CIDduGLc.png" alt="">
                    </div>


                </div>
            </article>

            <article class="imgcontainer">
                <img src="storage/img/Hero image.png" alt="">
            </article>


        </section>


    </main>
    
</body>
</html>



<!-- titulo, parrafo, lista, multimedia, formulario-->