<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="storage/style/style.css">

    <title>34</title>
</head>
<body>
    <main class="container">
        <article>
            <section class="title">
                <h1>Find your right mentor</h1>
            </section>

            <section class="flexcontainer">
                <div class="flexcolum">
                    <div class="titletextbuttoncontainer">

                        <h2>
                            Learn from experts
                            Grow your career
                        </h2>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer.</p>
                        
                        <button>
                            Explore our mentors
                        </button>
                    </div>

                    <div class="roundsquare">
                        <div class="boxA">

                            <div>
                                <div>
                                    <h2>34+</h2>
                                    <p>Lorem ipsum dolor sit consectetur adipiscing</p>
                                </div>
                                
                            </div>
                            
                            <div class="blacksquare"></div>
                            
                            <div>
                                <div>
                                    <h2>
                                        15+
                                    </h2>
                                    <p>
                                        Lorem ipsum dolor sit consectetur adipiscing
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                            
                        <!--       _____________________      -->
                        
                        <div class="boxA">

                            <div>
                                <div>
                                    <h2>245K</h2>
                                    <p>Lorem ipsum dolor sit consectetur adipiscing</p>
                                </div>
                                
                            </div>
                            
                            <div class="blacksquare"></div>
                            
                            <div>
                                <div>
                                    <h2>
                                        4.89
                                    </h2>
                                    <p>
                                        Lorem ipsum dolor sit consectetur adipiscing
                                    </p>
                                    
                                </div>
                            </div>
                            
                        </div>
                            

                    </div>                    
                
                </div>
                
                
                
                
            </section>
            
            <article>
                <section class="imgright">
                        <img src="storage/img/Right.png" alt="">    
                </section>
            </article>

        </article>
        
    </main>
</body>
</html>



<!-- titulo, parrafo, lista, multimedia, formulario-->