@import url(variables.css);


*{margin: 0; padding: 0; outline: 1px solid tomato;}
*::before, *::after{box-sizing: border-box;}
body{min-height: 100dvh;}
input, button, textarea, select{font: inherit;}
p{text-wrap: pretty;}
h1, h2, h3, h4, h5, h6{text-wrap: balance;}
/* img, video, svg{height: auto; max-width: 100%;} */
@media (prefers-reduced-motion: reduce){
*, *::before, *::after{
animation-duration: 0.01ms !important;
animation-iteration-count: 1 !important;
max-width: 100%;
transition-duration: 0.01ms !important;
scroll-behavior: auto !important;
transition: none;
}
}

body{background-color: rgba(251, 244, 223, 1);}

.container{
    width: 1440px;
    height: 1024px;
    margin: 0 auto;
}


.imgcontainer{
    position: absolute;
    left: 790px;
    top: 66px;
}

.asterisk{
    position: absolute;
    left: 1295px;
    top: 690px;

}

.star{
    position: absolute;
    left: 64px;
    top: 110px;
}

.boder{
    left: 64px;
    top: 220px;
    position: absolute;
    width: 100%;
}

.textcontainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 24px;
    left: 133px;
    top: 267px;
    width: 558px;
    height: auto;

    h1{
        font-family: "Lato-SemiBold.ttf";
        font-size: 64px;
        padding-bottom: 32px;
    }

}

