<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="storage/style/style.css">

    <title>28</title>
</head>
<body>

    <main>

        <article>
            <section class="textcontainer" >
                <h1>Design. Think. <br>Solve. Develop.</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus imperdiet sed id elementum. Quam vel aliquam sit vulputate. </p>
                <button>Get started</button>
                
            </section>
        </article>
        
        
        <article class="flexA">
           
            <section class="flexB">
                
                <div class="flexC">

                    <img src="storage/img/Frame 14354.png" alt="">
                    
                    <div class="flexD">
                        
                        <h2>
                            168
                        </h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        </p>
                    </div>
                    
                </div>
                

                <div  class="flexC" >
                    <img src="storage/img/Frame 14354 (1).png" alt="">
                    
                    <div class="flexD">
                        
                        <h2>
                            425+
                        </h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        </p>
                    </div>
                    
                </div>
                
                <div class="flexC">
                    <img src="storage/img/Frame 14354 (2).png" alt="">
                
                    <div class="flexD">
                        
                        <h2>
                            316
                        </h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        </p>
                    </div>
                    
                </div>
            </section>
            
            <section class="flexB">

                <div class="flexC">
                    <img src="storage/img/Frame 14354 (3).png" alt="">
                    
                    <div class="flexD">
                        
                        <h2>
                            Title 1
                        </h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        </p>
                    </div>
                    
                </div>

                <div class="flexC">
                    <img src="storage/img/Frame 14354 (4).png" alt="">
                    
                    <div class="flexD">
                        
                        <h2>
                            Title 2
                        </h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        </p>
                    </div>
                    
                </div>

                <div class="flexC">
                    <img src="storage/img/Frame 14354 (5).png" alt="">
                    
                    <div class="flexD">
                        
                        <h2>
                            Title 3
                        </h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        </p>
                    </div>
                    
                </div>
            </section>
            
        </article>
        
        
        <article class="a">
            <section class="flexboxA">
                <img src="storage/img/Rectangle 39.png" alt="">
                <img src="storage/img/Frame 14360.png" alt="">
                <img src="storage/img/Frame 14361.png" alt="">
                <img src="storage/img/Frame 14362.png" alt="">
            </section>

            <section class="flexboxB">
                <p>Lorem ipsum dolor sit amet,  consectetur adipiscing elit. </p>
                <p>Lorem ipsum dolor sit amet,  consectetur adipiscing elit. </p>
                <p>Lorem ipsum dolor sit amet,  consectetur adipiscing elit. </p>
                <p>Lorem ipsum dolor sit amet,  consectetur adipiscing elit. </p>
            </section>
        </article>
        
    </main>
</body>
</html>



<!-- titulo, parrafo, lista, multimedia, formulario-->