:root{ 
    --color-1: white;
    
 }

 @font-face {
    font-family: "WorkSans-Bold.ttf";
    src: url(../font/WorkSans-Bold.ttf);
 }

 @font-face {
   font-family: "WorkSans-Light.ttf";
   src: url(../font/WorkSans-Light.ttf);
}

@font-face {
   font-family: "WorkSans-Medium.ttf";
   src: url(../font/WorkSans-Medium.ttf);
}
 